PROYECTO 1: Predicción del precio de venta de un vehículo de segunda mano en función de sus características

In [233]:
import numpy as np
import pandas as pd
import os

In [234]:
# Actual dir
#os.chdir(os.getcwd()+"/dataset") 
print("Path actual",os.getcwd() )

Path actual /home/iciac/Escritorio/CursoIA/Grupo_5/dataset

In [235]:
########## Funciones auxiliares
def mean_tax_mpg_at_nulls(df, model):
    df.model = df.model.str.strip()
    groupbymarca = df.groupby(by= "model", as_index=False).mean()
    print("Models",groupbymarca["model"].to_list() )
    mean = groupbymarca[groupbymarca.model == model]
    tax, mpg  = int(mean.tax.round()), mean.mpg.round(1)
    df.loc[(df["model"]==model) & (pd.isnull(df["tax"])) & (pd.isnull(df["tax"])), ["tax", "mpg"]] = tax, mpg

    print(df.isna().sum())
    return df

In [236]:
######### Programa en si

In [237]:
audi = pd.read_csv('audi.csv', header='infer')
audi["brand"]="Audi"
audi

,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize,brand
0,A1,2017,12500,Manual,15735,Petrol,150,55.4,1.4,Audi
1,A6,2016,16500,Automatic,36203,Diesel,20,64.2,2.0,Audi
2,A1,2016,11000,Manual,29946,Petrol,30,55.4,1.4,Audi
3,A4,2017,16800,Automatic,25952,Diesel,145,67.3,2.0,Audi
4,A3,2019,17300,Manual,1998,Petrol,145,49.6,1.0,Audi
...,...,...,...,...,...,...,...,...,...,...
10663,A3,2020,16999,Manual,4018,Petrol,145,49.6,1.0,Audi
10664,A3,2020,16999,Manual,1978,Petrol,150,49.6,1.0,Audi
10665,A3,2020,17199,Manual,609,Petrol,150,49.6,1.0,Audi
10666,Q3,2017,19499,Automatic,8646,Petrol,150,47.9,1.4,Audi
10667,Q3,2016,15999,Manual,11855,Petrol,150,47.9,1.4,Audi

In [238]:
bmw = pd.read_csv('bmw.csv', header='infer')
bmw["brand"]="BMW"
bmw

,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize,brand
0,5 Series,2014,11200,Automatic,67068,Diesel,125,57.6,2.0,BMW
1,6 Series,2018,27000,Automatic,14827,Petrol,145,42.8,2.0,BMW
2,5 Series,2016,16000,Automatic,62794,Diesel,160,51.4,3.0,BMW
3,1 Series,2017,12750,Automatic,26676,Diesel,145,72.4,1.5,BMW
4,7 Series,2014,14500,Automatic,39554,Diesel,160,50.4,3.0,BMW
...,...,...,...,...,...,...,...,...,...,...
10776,X3,2016,19000,Automatic,40818,Diesel,150,54.3,2.0,BMW
10777,5 Series,2016,14600,Automatic,42947,Diesel,125,60.1,2.0,BMW
10778,3 Series,2017,13100,Manual,25468,Petrol,200,42.8,2.0,BMW
10779,1 Series,2014,9930,Automatic,45000,Diesel,30,64.2,2.0,BMW
10780,X1,2017,15981,Automatic,59432,Diesel,125,57.6,2.0,BMW

In [239]:
df3 = pd.read_csv('cclass.csv', header='infer')
df7 = pd.read_csv('merc.csv', header='infer')

mercedes = pd.concat([df3,df7])
mercedes.sort_values("model", inplace = True)
mercedes.reset_index(drop=True, inplace=True)
mercedes["brand"]="Mercedes"

mercedes = mean_tax_mpg_at_nulls(mercedes, "C Class")
mercedes

Models ['180', '200', '220', '230', 'A Class', 'B Class', 'C Class', 'CL Class', 'CLA Class', 'CLC Class', 'CLK', 'CLS Class', 'E Class', 'G Class', 'GL Class', 'GLA Class', 'GLB Class', 'GLC Class', 'GLE Class', 'GLS Class', 'M Class', 'R Class', 'S Class', 'SL CLASS', 'SLK', 'V Class', 'X-CLASS']
model           0
year            0
price           0
transmission    0
mileage         0
fuelType        0
engineSize      0
tax             0
mpg             0
brand           0
dtype: int64

/home/iciac/.local/lib/python3.8/site-packages/numpy/core/_asarray.py:83: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray
  return array(a, dtype, copy=False, order=order)

,model,year,price,transmission,mileage,fuelType,engineSize,tax,mpg,brand
0,A Class,2020,24889,Semi-Auto,1000,Diesel,1.5,145.0,62.8,Mercedes
1,A Class,2019,22599,Automatic,2823,Diesel,1.5,145.0,62.8,Mercedes
2,A Class,2019,22699,Automatic,1770,Diesel,1.5,145.0,62.8,Mercedes
3,A Class,2020,24490,Manual,800,Petrol,1.3,145.0,28.5,Mercedes
4,A Class,2019,23499,Manual,6919,Petrol,1.3,145.0,28.5,Mercedes
...,...,...,...,...,...,...,...,...,...,...
17013,X-CLASS,2019,33990,Automatic,13000,Diesel,3.0,260.0,31.4,Mercedes
17014,180,2014,10799,Manual,39240,Diesel,1.5,20.0,72.4,Mercedes
17015,200,2018,19495,Manual,15113,Diesel,2.2,145.0,64.2,Mercedes
17016,220,2018,19995,Automatic,9814,Diesel,2.0,145.0,61.4,Mercedes
17017,230,2007,4500,Automatic,94000,Petrol,0.0,520.0,29.4,Mercedes

In [241]:
df4 = pd.read_csv('focus.csv', header='infer')
df5 = pd.read_csv('ford.csv', header='infer')

ford = pd.concat([df4,df5])
ford.sort_values("model", inplace = True)
ford.reset_index(drop=True, inplace=True)
ford["brand"]="Ford"

ford = mean_tax_mpg_at_nulls(ford, "Focus")
ford

Models ['B-MAX', 'C-MAX', 'EcoSport', 'Edge', 'Escort', 'Fiesta', 'Focus', 'Fusion', 'Galaxy', 'Grand C-MAX', 'Grand Tourneo Connect', 'KA', 'Ka+', 'Kuga', 'Mondeo', 'Mustang', 'Puma', 'Ranger', 'S-MAX', 'Streetka', 'Tourneo Connect', 'Tourneo Custom', 'Transit Tourneo']
model           0
year            0
price           0
transmission    0
mileage         0
fuelType        0
engineSize      0
tax             0
mpg             0
brand           0
dtype: int64

/home/iciac/.local/lib/python3.8/site-packages/numpy/core/_asarray.py:83: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray
  return array(a, dtype, copy=False, order=order)

,model,year,price,transmission,mileage,fuelType,engineSize,tax,mpg,brand
0,B-MAX,2017,9450,Automatic,17000,Petrol,1.6,150.0,44.1,Ford
1,B-MAX,2013,5998,Manual,37058,Petrol,1.0,30.0,55.4,Ford
2,B-MAX,2013,5995,Manual,43000,Petrol,1.0,30.0,55.4,Ford
3,B-MAX,2017,9998,Manual,8346,Petrol,1.4,150.0,47.1,Ford
4,B-MAX,2017,8990,Manual,15999,Diesel,1.5,0.0,74.4,Ford
...,...,...,...,...,...,...,...,...,...,...
23414,Tourneo Custom,2018,19995,Manual,2500,Diesel,2.0,145.0,32.5,Ford
23415,Tourneo Custom,2016,16700,Manual,22704,Diesel,2.0,200.0,44.8,Ford
23416,Tourneo Custom,2016,19498,Manual,30382,Diesel,2.0,235.0,44.1,Ford
23417,Tourneo Custom,2019,29890,Manual,6500,Diesel,2.0,145.0,31.7,Ford
23418,Transit Tourneo,2014,12450,Manual,19496,Diesel,2.2,235.0,42.2,Ford

In [242]:
hyundi = pd.read_csv('hyundi.csv', header='infer')
hyundi.rename(columns={"tax(£)":"tax"}, inplace=True)
hyundi["brand"]="Hyundi"
hyundi

,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize,brand
0,I20,2017,7999,Manual,17307,Petrol,145,58.9,1.2,Hyundi
1,Tucson,2016,14499,Automatic,25233,Diesel,235,43.5,2.0,Hyundi
2,Tucson,2016,11399,Manual,37877,Diesel,30,61.7,1.7,Hyundi
3,I10,2016,6499,Manual,23789,Petrol,20,60.1,1.0,Hyundi
4,IX35,2015,10199,Manual,33177,Diesel,160,51.4,2.0,Hyundi
...,...,...,...,...,...,...,...,...,...,...
4855,I30,2016,8680,Manual,25906,Diesel,0,78.4,1.6,Hyundi
4856,I40,2015,7830,Manual,59508,Diesel,30,65.7,1.7,Hyundi
4857,I10,2017,6830,Manual,13810,Petrol,20,60.1,1.0,Hyundi
4858,Tucson,2018,13994,Manual,23313,Petrol,145,44.8,1.6,Hyundi
4859,Tucson,2016,15999,Automatic,11472,Diesel,125,57.6,1.7,Hyundi

In [243]:
skoda = pd.read_csv('skoda.csv', header='infer')
skoda["brand"]="Skoda"
skoda

,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize,brand
0,Octavia,2017,10550,Manual,25250,Petrol,150,54.3,1.4,Skoda
1,Citigo,2018,8200,Manual,1264,Petrol,145,67.3,1.0,Skoda
2,Octavia,2019,15650,Automatic,6825,Diesel,145,67.3,2.0,Skoda
3,Yeti Outdoor,2015,14000,Automatic,28431,Diesel,165,51.4,2.0,Skoda
4,Superb,2019,18350,Manual,10912,Petrol,150,40.9,1.5,Skoda
...,...,...,...,...,...,...,...,...,...,...
6262,Yeti,2014,11440,Semi-Auto,14569,Petrol,160,44.8,1.2,Skoda
6263,Octavia,2014,10990,Semi-Auto,49999,Petrol,30,56.5,1.4,Skoda
6264,Fabia,2017,9500,Semi-Auto,17131,Petrol,145,61.4,1.0,Skoda
6265,Citigo,2016,5999,Manual,21747,Petrol,20,62.8,1.0,Skoda
6266,Fabia,2017,9232,Semi-Auto,42530,Petrol,20,60.1,1.2,Skoda

In [244]:
toyota = pd.read_csv('toyota.csv', header='infer')
toyota["brand"]="Toyota"
toyota

,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize,brand
0,GT86,2016,16000,Manual,24089,Petrol,265,36.2,2.0,Toyota
1,GT86,2017,15995,Manual,18615,Petrol,145,36.2,2.0,Toyota
2,GT86,2015,13998,Manual,27469,Petrol,265,36.2,2.0,Toyota
3,GT86,2017,18998,Manual,14736,Petrol,150,36.2,2.0,Toyota
4,GT86,2017,17498,Manual,36284,Petrol,145,36.2,2.0,Toyota
...,...,...,...,...,...,...,...,...,...,...
6733,IQ,2011,5500,Automatic,30000,Petrol,20,58.9,1.0,Toyota
6734,Urban Cruiser,2011,4985,Manual,36154,Petrol,125,50.4,1.3,Toyota
6735,Urban Cruiser,2012,4995,Manual,46000,Diesel,125,57.6,1.4,Toyota
6736,Urban Cruiser,2011,3995,Manual,60700,Petrol,125,50.4,1.3,Toyota
6737,Urban Cruiser,2011,4495,Manual,45128,Petrol,125,50.4,1.3,Toyota

In [245]:
vauxhall = pd.read_csv('vauxhall.csv', header='infer')
vauxhall["brand"]="Vauxhall"
vauxhall

,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize,brand
0,Corsa,2018,7885,Manual,9876,Petrol,145,55.4,1.4,Vauxhall
1,Corsa,2019,11995,Manual,2500,Petrol,145,54.3,1.4,Vauxhall
2,Corsa,2017,9777,Automatic,9625,Petrol,145,47.9,1.4,Vauxhall
3,Corsa,2016,8500,Manual,25796,Petrol,30,55.4,1.4,Vauxhall
4,Corsa,2019,10000,Manual,3887,Petrol,145,43.5,1.4,Vauxhall
...,...,...,...,...,...,...,...,...,...,...
13627,Tigra,2007,2499,Manual,48640,Petrol,165,46.3,1.4,Vauxhall
13628,Vectra,2007,1795,Manual,75000,Petrol,240,39.2,1.8,Vauxhall
13629,Vectra,2005,1495,Manual,74000,Petrol,235,38.7,1.8,Vauxhall
13630,Vectra,2008,1695,Automatic,131000,Diesel,200,39.8,1.9,Vauxhall
13631,Vectra,2005,1450,Manual,147000,Petrol,330,27.9,3.2,Vauxhall

In [246]:
vw = pd.read_csv('vw.csv', header='infer')
vw["brand"]="VW"
vw

,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize,brand
0,T-Roc,2019,25000,Automatic,13904,Diesel,145,49.6,2.0,VW
1,T-Roc,2019,26883,Automatic,4562,Diesel,145,49.6,2.0,VW
2,T-Roc,2019,20000,Manual,7414,Diesel,145,50.4,2.0,VW
3,T-Roc,2019,33492,Automatic,4825,Petrol,145,32.5,2.0,VW
4,T-Roc,2019,22900,Semi-Auto,6500,Petrol,150,39.8,1.5,VW
...,...,...,...,...,...,...,...,...,...,...
15152,Eos,2012,5990,Manual,74000,Diesel,125,58.9,2.0,VW
15153,Fox,2008,1799,Manual,88102,Petrol,145,46.3,1.2,VW
15154,Fox,2009,1590,Manual,70000,Petrol,200,42.0,1.4,VW
15155,Fox,2006,1250,Manual,82704,Petrol,150,46.3,1.2,VW
15156,Fox,2007,2295,Manual,74000,Petrol,145,46.3,1.2,VW

In [247]:
############# Merge and save


dfs = [vw,vauxhall,toyota, skoda, hyundi, ford, mercedes, bmw, audi]

dataset = pd.DataFrame()

for df in dfs:
    dataset = dataset.append(df)

In [248]:
dataset.to_csv("ve", index=)

,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize,brand
0,T-Roc,2019,25000,Automatic,13904,Diesel,145.0,49.6,2.0,VW
1,T-Roc,2019,26883,Automatic,4562,Diesel,145.0,49.6,2.0,VW
2,T-Roc,2019,20000,Manual,7414,Diesel,145.0,50.4,2.0,VW
3,T-Roc,2019,33492,Automatic,4825,Petrol,145.0,32.5,2.0,VW
4,T-Roc,2019,22900,Semi-Auto,6500,Petrol,150.0,39.8,1.5,VW
...,...,...,...,...,...,...,...,...,...,...
10663,A3,2020,16999,Manual,4018,Petrol,145.0,49.6,1.0,Audi
10664,A3,2020,16999,Manual,1978,Petrol,150.0,49.6,1.0,Audi
10665,A3,2020,17199,Manual,609,Petrol,150.0,49.6,1.0,Audi
10666,Q3,2017,19499,Automatic,8646,Petrol,150.0,47.9,1.4,Audi
10667,Q3,2016,15999,Manual,11855,Petrol,150.0,47.9,1.4,Audi